# Configuración de Google Sheets
SPREADSHEET_ID=1w2U7ne3prRJlmx5e9WZG3oPRda8tS5lh
SHEET_GID=1472867645
# Ruta al archivo JSON con las credenciales de la cuenta de servicio de Google Cloud
GOOGLE_SERVICE_ACCOUNT_FILE=credentials/service_account.json

# Configuración de Alertas de Telegram
TELEGRAM_BOT_TOKEN=tu_token_de_bot_de_telegram_aqui
TELEGRAM_CHAT_ID=tu_id_de_chat_o_grupo_de_telegram_aqui

# Parámetros de Stock y Alertas
STOCK_MINIMO_DEFAULT=5

# Servidores
API_HOST=0.0.0.0
API_PORT=8000
STREAMLIT_PORT=8501
